@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary  */
  --light_red: hsl(0, 100%, 67%);
  --orange_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

  /* gradients  */
  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);

  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* neutral  */
  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);
}

body {
  display: grid;
  align-items: center;
  background-color: var(--white);
  min-height: 100vh;
  width: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
}

.result-section {
  display: grid;
  row-gap: 2rem;
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue) 1%,
    var(--light_royal_blue) 99%
  );
  text-align: center;
  width: 100%;
  padding: 3rem;
  justify-items: center;
  border-radius: 2rem;
  margin-top: -2rem;
}
.result-title {
  font-size: 1.475rem;
  color: var(--light_lavender);
}
.score {
  padding: 2rem 3rem;
  background: linear-gradient(
    to bottom,
    var(--violet_blue),
    var(--persian_blue)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score span:nth-child(1) {
  display: block;
  font-weight: 800;
  color: var(--white);
  font-size: 4rem;
}
.score span:nth-child(2) {
  opacity: 0.6;
  color: var(--light_lavender);
}
.score-text h3 {
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 1.625rem;
}
.score-text p {
  color: var(--light_lavender);
}

@media screen and (min-width: 660px) {
}
